Desktop/WindowsHelper.EasyOpen/WindowsHelper.EasyOpen.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <!-- OBJETOS DE TYPO EASY OPEN TYPE -->
  <xs:attributeGroup name="EasyOpen.EasyOpenType">
    <xs:attribute type="xs:string" name="Id" use="optional"/>
    <xs:attribute type="xs:string" name="Name" use="required"/>
    <xs:attribute type="xs:string" name="Icon" use="optional"/>
  </xs:attributeGroup>
 
  <xs:complexType name="EasyOpen.OpenFile" >
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attributeGroup ref="EasyOpen.EasyOpenType" />
        <xs:attribute type="xs:string" name="Path" use="required"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="EasyOpen.Exe" >
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attributeGroup ref="EasyOpen.EasyOpenType" />
        <xs:attribute type="xs:string" name="OpenWith" use="optional"/>
        <xs:attribute type="xs:string" name="Path" use="optional"/>
        <xs:attribute type="xs:string" name="Params" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  
  <xs:complexType name="EasyOpen.Cmd">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attributeGroup ref="EasyOpen.EasyOpenType" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="EasyOpen.SubMenu">
    <xs:sequence>
      <xs:element name="OpenFile" maxOccurs="unbounded" minOccurs="0" type="EasyOpen.OpenFile" />
      <xs:element name="Exe" maxOccurs="unbounded" minOccurs="0" type="EasyOpen.Exe" />
      <xs:element name="Cmd" maxOccurs="unbounded" minOccurs="0" type="EasyOpen.Cmd" />
      <xs:element name="SubMenu" maxOccurs="unbounded" minOccurs="0" type="EasyOpen.SubMenu" />
    </xs:sequence>
    <xs:attributeGroup ref="EasyOpen.EasyOpenType" />
  </xs:complexType>


  <!-- MAIN ELEMENT-->
  <xs:element name="EasyOpen" type="EasyOpen.SubMenu" />
  
</xs:schema>