Desktop/WindowsHelper.Common/WindowsHelper.xsd

<?xml version="1.0" encoding="utf-8" ?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:complexType name="WindowsHelper.App">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="Name"/>
        <xs:attribute type="xs:string" name="IAppClass"/>
        <xs:attribute type="xs:string" name="AssemblyName"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <!-- MAIN ELEMENT -->
  <xs:element name="WindowsHelper">
    <xs:complexType>
      <xs:sequence maxOccurs="1" minOccurs="0">
        <xs:element name="Applications">
          <xs:complexType>
            <xs:sequence minOccurs="0" maxOccurs="unbounded">
              <xs:element name="App" type="WindowsHelper.App" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute type="xs:string" name="Version"/>
    </xs:complexType>
  </xs:element>
  
</xs:schema>